<div class="animated fadeIn delay-4 slower login-parent">
  <img src="../../assets/images/polygon.png" alt="Transparencia Haku" class="transparency">
  <div class="login-container">
    <div class="login-card login-card__large animated fadeInRight delay-6">
      <img src="../../assets/images/haku-logo.png" alt="logo haku" style="width: 100%;">
      <button routerLink="/main" class="w3-large login-button" style="height:42px;font-family: Karla; margin-bottom: 2em;"
        mat-raised-button color="accent">
        <b>Disfrútalos!</b>
      </button>
      <!-- <div class="login-image">
        <img style="width:55%; max-width: 240px; border-radius: 10px; margin: auto;" [src]="image" aria-label="Photo by Chris F from Pexels">
      </div>
      <p class="title__login">
        🍾🧊 Que no pare la fiesta!
      </p>
      <button routerLink="/main" class="w3-large" style="height:42px;font-family: Karla; margin-bottom: 2em;" mat-raised-button
        color="accent">
        <b>Estás a un click 😎!</b>
      </button>
      <div style="position: absolute;
                  right: 8px;
                  bottom: 4px;
                  margin: 0">
        <span style="color: grey;">{{version}}</span>
      </div> -->
    </div>
  </div>
</div>